# trajectory_params.yaml
# Parámetros para la arquitectura de seguimiento de trayectoria (Pure Pursuit)

# 1. Parámetros del Proveedor de Path (DXF o Rectángulo)
dxf_exporter_node:
  ros__parameters:
   # --- Best params ---
   # width: 1.88
   # height: 1.83
   
    # --- MODO DE TRAYECTORIA ---
    # Opciones: "dxf", "rectangle"
    trajectory_mode: "rectangle"
    num_laps: 2 # Número de vueltas al path generado
    # --- Opciones para el modo "dxf" ---
    dxf_file: '/home/alejo/diff_robot/src/diff_robot_gr03/dxf/30X30.dxf'
    
    # --- Opciones para el modo "rectangle" ---
    # Dimensiones (en metros) del rectángulo a generar
    rectangle:
      width: 1.88  # Dimensión en X
      height: 1.83 # Dimensión en Y

      # Offset de inicio (relativo al origen 0,0 del rectángulo)
      # Para empezar en la esquina, usa (0.0, 0.0)
      # Para empezar a la mitad del lado inferior, usa (width/2, 0.0) -> (0.3, 0.0)
      start_x: 0.0 
      start_y: 0.0
      
# 3. Parámetros del Controlador (Pure Pursuit)
pure_pursuit_controller:
  ros__parameters:
    # --- Best params ---
    # max_linear_velocity: 0.25  # Velocidad lineal constante del robot (m/s)
    # max_angular_velocity: 1.57 # Velocidad angular máxima (rad/s)
    # lookahead_distance: 0.5    # Distancia de la "zanahoria" (metros)
    # aggression_factor: 0.4     # Factor de agresividad para la velocidad adaptativa.
    
    # --- Parámetros de "Tuning" (Ajuste) ---
    lookahead_distance: 0.5   # (Ld) Distancia de la "zanahoria" (metros)
    
    max_linear_velocity: 0.25    # (v_max) Velocidad lineal MÁXIMA en rectas (m/s)

    max_angular_velocity: 1.57   # (w_max) Velocidad angular MÁXIMA (rad/s)


    # Factor de agresividad para la velocidad adaptativa.
    # 1.0 = Original (frena mucho en curvas).
    # 0.5 = Más rápido en curvas.
    # 0.0 = Velocidad máxima (sin frenado adaptativo).
    # Recomendado: 0.2 ara un buen compromiso.
    aggression_factor: 0.4
    
    # --- Parámetros de Configuración de Topics ---
    # Fuente de la pose del robot
    # Opciones: "/odom_ideal" (simulación) o "/odometry/filtered" (real) o "/odom_real o /odometry/complementary" 
    odom_topic: "/odom_real"
    
    # Path que el controlador debe seguir
    # Opciones: "/smooth_path" (para curvas) o "/linear_path" (para esquinas)
    path_topic: "/linear_path" 
    
    # --- Parámetros de Sistema ---
    controller_frequency: 50.0  # (Hz) Frecuencia del bucle de control
    goal_tolerance: 0.03        # (metros) Qué tan cerca del punto final para detenerse

path_linear_interpolator:
  ros__parameters:
    # Puntos a generar POR CADA segmento (ej. 4 segmentos * 50 = 200 puntos)
    num_points_per_segment: 100